*{
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}
body{
    /* background-color: #27BBBF; */
    font-family: 'Open Sans',sans-serif;
    color:white;
    width:100%;
    margin:0;
    padding:0;
}
.center{
    text-align:center;
    color: #02b3e4;
    font-size: 2rem;
line-height: 2.25rem;
font-weight:300;
}
button{
    font-family: 'Open Sans',sans-serif;
}
.wrapper{
    background-color: #27BBBF;
    margin:0;
    padding:0;
    width:100%;
    height:autol;
    padding-top: 18px;
}

/*=======HEADER======*/
#logo{
    width:150px;
    height:30px;
    float:left;
    
}

header{
    width: 90vw;
    min-width: 90vw;
    height:85px;
    margin-left:auto;
    margin-right:auto;
}

.header-div{
    width:90%;
    height:4.5rem;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    padding: 12px;
    
}
.nav-ul{
    float:right;
    list-style: none;
    font-size: .775rem;
    
    line-height: 1.9375rem;
    height:2.25rem;
    margin:0;
}

 li{
    display:inline;
    padding:10px;
    font-weight: 585;
    
}
a{
    color:#fff;
    
    text-decoration: none;
}
a:hover{
    color:#A8CBDF;

}

.margin{
    margin-left:1.5rem;
}

.line{
    
    border:1px solid white;
    padding:0;
    height:36px;
    background-color: white;  
}

.btn a{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    background-color:#02D1BF;
    border-radius:5px;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.btn a:hover{
    color:white;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

/* =======HOME-HERO========= */
.home-hero{
    text-align:center;
    /* width:710px;
    height:480px; */
   
}
.big{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight:300;
    line-height: 3rem;
    margin-top:16px;
    margin-bottom:8px;
}

.small{
    margin-top:0;
    margin-bottom:40px;
}

.home-hero-grid{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(100px,auto); 
    grid-gap:15px;
    
    width:925px;
    height:400px;
    margin:0 auto;
  
    padding:20px;
}

.cards{ 
    border-radius:5px;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    background-color:rgb(58, 16, 97);
}


.card1{
    grid-column: 1/2;
    grid-row: 1/4;
    background-image: url("../images/mainPic.jpg");
    background-position: center;
    background-size:cover; 
}


.t-color{
    color:#525c65;
    letter-spacing: 1px;
    text-align: left;
    margin:0;
    margin-top:10px;
    padding-top:10px;
    margin-bottom: .375rem;
    font-size: .5625rem;
    line-height: .75rem;
    padding-right:3px;
}
.t-bold{
    font-weight: 600 !important;
    color: #2e3d49; 
    text-align: left;
    margin:0;
    margin-bottom:6px;
    padding-right:3px;
    font-size: 0.8rem;
    line-height: 1.5rem !important;
}
.card4{
    grid-column:2/3;
    grid-row:3/4;
}


.inside{
  
  width:500px;
  height:300px; 
  margin:0 auto;
  position:relative;
  top:50%;
  transform: translateY(-50%); 
}

.inside h6{
    font-weight: 600;
    letter-spacing: .125rem;
    font-size:10px;
    margin:0;
    margin-bottom:24px;
}
.inside h2{
    font-size:1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    line-height: 2.25rem;
    margin-top:25px;
    margin-bottom:12px;
}

.s-in{
    display:block;
    letter-spacing: 0.5px;
    font-size:14px;
    font-weight:800;
    line-height: 1.75rem;
}

.inside p{
    margin-bottom:24px;
    margin-top:0;
}

.btn-card{
    width:240px;
    height:40px;
    padding:0;
    color:#02b3e4;
    background-color: #fff;
    border: .125rem solid transparent;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    font-weight: 600;
    font-size: 10px;
    cursor:pointer;
    border-radius: .25rem;
    letter-spacing: .125rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-card:hover{
    outline: none;
    color: #1cccfd;
    border-color: transparent;
    background-color: #f2f2f2;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);    
}

.img-card2{
    width:90px;
    height:90px;
    float:left;
}


.inside2{
    
    width:280px;
    height:90px;
    border-radius:100px;
    margin:0 auto;
    position:relative;
    top:50%;
    transform: translateY(-50%); 
    background-color: white;
}

#right-bor{
    border-top-left-radius:0; 
    border-bottom-left-radius:0;
}


.c3-color{
    color:#FFBD34;
}
.c4-color{
    color:#31C578;
}
/* =======hero-home-closed======== */
/*========== Category========== */

.category-info{
    text-align:center;
    line-height: 3rem;
    font-weight:300;
    color:#2e3d49;
    font-family: 'Open Sans', sans-serif;
    margin-top:32px;
    margin-bottom:24px;
    font-size:1.6rem;

}

.button{
    display: inline;
    font-size: .65rem;
    margin: .5rem;
    border-radius:3px;
    line-height: 2rem;
    border: 0 none;
    letter-spacing: .05rem;
}

.filters{
    

    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 2rem;
}

.button--off{
    color: #02b3e4;
    border: 1px solid #02b3e4;
    background-color: #fff;
}
.button--off:hover{
    color: #fff;
    background-color: #02b3e4;
}
.button--on{
    background-color: #02b3e4;
    color: #fff;
}
.button--on:hover{
    color: #02b3e4;
    background-color: #fff;
    border: 1px solid #02b3e4;
}

.catalog-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    color:#2E3D4D;
    
    width:1100px;
    height:856px;
    margin:0 auto;
    margin-top:15px;
    padding:40px;
}

.c-card{
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    width:320px;
    height:340px;
    border-radius:5px;
    
}

.c-card:hover{
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.cata-card-header{
   
    height:170px;
    
    
}

.cata-card-title{
    
    height:102px;
}

.cata-card-affiliates{
    
    height:68px;
}

#head1{
    background-image:url(../images/card1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header1-layer{
    background-color:rgba(2,179,228,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 #head2{
    background-image:url(../images/card2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header2-layer{
    background-color:rgba(2,204,186,.8);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#head3{
    background-image:url(../images/card3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header3-layer{
    background-color:rgba(169,81,237,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#head4{
    background-image:url(../images/card4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header4-layer{
    background-color:rgba(125,151,173,.8);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#head5{
    background-image:url(../images/card5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header5-layer{
    background-color:rgba(255,162,52,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#head6{
    background-image:url(../images/card5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    
}

.header6-layer{
    background-color:rgba(255,84,131,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.cata-card-title{
   padding:24px 32px;
}

.cata-card-title h1{
    color: #2e3d49;
    text-align:left;
    font-weight:650;
    font-size: 1.2rem;
    line-height: 2rem;

}

.img1{
    width:39px;
    height:34px;
    
}
.cata-card-affiliates{
    padding:24px 32px;
}

/* =========END OF CATEGORY=========== */
/* ==========MARKETING========== */
.market{
    background-color: #02B9DA;
    height:348px;
    width:100%;
}
.container{
    width:820px;
    height:200px;
    margin:0 auto;
    border-radius:5px;
    background-color: #fff;
    padding:16px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    
}

.magnify{
    text-align: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    display: block;
    margin-right: 2.04081633%;
    width: 8.16326531%;
}

.marketing-content{
    color:black;
    float: left;
    display: block;
    margin-right: 2.04081633%;
    width: 59.18367347%;
    padding:0 24px;
    margin-bottom:48px;
}

.marketing-content h3{
    color: #02b3e4;
    font-weight: 300;

}

.marketing-content p{
    color: #525c65;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.4rem;

}

.marketing-button{
    float: left;
    display: block;
    width: 28.57142857%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btnP{
    width: 10rem;
    color: #fff;
    background-color: #02b3e4;
    border: .125rem solid transparent;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    display: block;
    height: 3rem;
    padding: 0 30px;
    font-weight: 600;
    font-size: .8rem;
    line-height: 2.625rem;
    border-radius: .25rem;
    letter-spacing: .125rem;
}

.btnP:hover{
    color:#fff;
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}